{
	"root": true,
	"extends": [
		"eslint-config-nitpick",
		"eslint-config-nitpick/next",
		"eslint-config-nitpick/browser",
		"eslint-config-prettier"
	],
	"plugins": ["eslint-plugin-prettier"],
	"rules": {
		"prettier/prettier": 1
	},
	"overrides": [
		{
			"files": ["karma.conf.js", "rollup.config.js"],
			"env": {
				"node": true,
				"es6": true
			},
			"parserOptions": {
				"sourceType": "script"
			},
			"rules": {
				"no-console": 0
			}
		}
	]
}
